* {
  margin: 0;
  padding: 0;
}

.form-holder {
  align-self: center;
  width: 400px;
  background-color: white;
  opacity: 0.8;
  border-radius: 9px;
  display: inline-block;
  margin: auto;
  padding: 20px 5px;
  position: absolute;
  top:30%;
  left:37%;
}

.link {
  color: #2b70ac;
}

.modal {
  position: fixed;
  top: 10%;
  left: 10%;
  right: 10%;
  bottom: 10%;
  border: 1px solid #ccc;
  background: white;
  overflow: auto;
  border-radius: 9px;
  outline: none;
  padding: 20px;
  display: block;
}